.indicators-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card-content {
    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 400;
  }
  
  .indicator.active {
    background-color: #333;
  }
  
  .image-container {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
  }
  
  .image-container::-webkit-scrollbar {
    display: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .role {
    font-weight: 400;
    font-size: 12px;
    color: #4b5563;
  }
  
  .role-adj {
    transform: translate(10px, 7px);
  }
  
  @media (min-width: 768px) {
    .hero-img-X {
      transform: translateX(-50%) !important;
    }
    .w-80 {
      width: 80%;
    }
  
    .content h1 {
      font-size: 4.5vw;
    }
  
    .webinar_content p {
      font-size: 2vw;
    }
  
    .col-rev {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  
  @media (max-width: 768px) {
    .indicators-container {
      margin-top: 10px;
    }
  
    .margin-top-sm-0 {
      margin-top: 0px !important;
    }
  
    .indicator {
      width: 8px;
      height: 8px;
      margin: 0 3px;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .webinar_body {
    font-family: Plus Jakarta Sans;
    line-height: 1.6;
    font-weight: bold;
    overflow-x: hidden;
  }
  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px 20px 80px;
    background: #04121f;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  
  /* Logo styles */
  .header .logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Nav styles for desktop */
  .header .nav {
    display: flex;
    gap: 35px;
    padding: 10px 20px 10px;
    font-weight: 400;
    backdrop-filter: blur(40px);
    background-color: #182531;
    border-radius: 20px;
  }
  
  .header .nav a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
  }
  
  /* Hamburger button styles */
  .hamburger {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background: #04121f;
      border-radius: 5px;
      width: 200px;
      padding: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  
    .nav.active {
      display: flex;
    }
  
    .nav a {
      padding: 10px 0;
    }
  
    .nav a:last-child {
      border-bottom: none;
    }
  }
  
  .video-container {
    display: flex;
    margin: 10px 12px;
    position: relative;
  }
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 50px 0px 50px;
    background: #04121f;
    color: #fff;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  
  .content h1 {
    color: #ffae00;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .content {
    position: relative;
    z-index: 15;
  }
  
  .content p {
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .testimonial-para {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6299999952316284px;
    text-align: left;
    margin: 13px 0px;
  }
  
  .countdown {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
  }
  
  .countdown div {
    text-align: left;
  }
  
  .below-content {
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .countdown span {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .small-content {
    position: absolute;
    left: 3%;
    font-size: 0.7rem;
    color: white;
    top: 75%;
  }
  
  .footer {
    /* Dark background */
    color: #d1d1d1;
    /* Light text color */
    padding: 20px 0;
  }
  
  .footer a {
    color: #d1d1d1;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    color: #6cddf2;
    /* Hover color for links */
  }
  
  .social-icons a {
    font-size: 1.2rem;
    margin: 0 10px;
    color: #d1d1d1;
  }
  
  .social-icons a:hover {
    color: #6cddf2;
  }
  
  .footer-line {
    border-top: 1px solid #444;
    margin: 15px 0;
  }
  
  .copyright {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
  }
  
  .register-btn {
    background: #ffae00;
    color: #0f1a2e;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .students {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .students img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .students span {
    font-size: 1rem;
    color: #fff;
  }
  
  .card {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px #004fff80;
    display: flex;
    justify-content: space-between;
    font-family: Nunito;
  }
  
  .form-register {
    border: 2px solid #e2e2e2;
    border-radius: 20px;
    padding: 40px;
  }
  
  .btn-register {
    padding: 15px 25px;
    gap: 10px;
    border-radius: 30px;
    background: #00396e;
    color: white;
    border: none;
    margin-top: 15px;
  }
  
  .attendees {
    font-family: "Poppins", serif !important;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
  }
  
  .attendees-para {
    font-family: "Poppins", serif !important;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }
  
  .faqs {
    border-radius: 20px;
    background: #a9f0ff;
  }
  
  .subs {
    position: absolute;
    right: 40px;
    padding: 9px;
    border-radius: 10px;
    border: none;
    background: #022b50;
    color: white;
    transform: translate(-22px, 2px);
  }
  
  .options {
    border: none;
    background: #bcd1ff80;
    width: 100%;
    color: #0037b2;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 600;
  }
  
  .other-options {
    border: none;
    background: #9c9c9c33;
    width: 100%;
    color: #7b7b7b;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .options-heading {
    background: linear-gradient(
      89.92deg,
      #78e3ff -2.05%,
      #9293ff 10.16%,
      #db83ff 28.23%,
      #c07eff 39.75%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: italic;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 2.8rem;
  }
  
  .options-para {
    font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .main-options {
    border: 1px solid #e2e2e2;
    padding: 40px 40px 30px 40px;
    border-radius: 10px;
  }
  
  
  .btn-2 {
    background: #f5a700;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: 700;
  }
  
  .testimonail-content {
    width: 320px;
    padding: 20px 43px 20px 25px;
    background: #f5f2ed;
    margin-left: 22px;
    border-radius: 15px;
    text-align: left;
    white-space: normal;
  }
  
  .faq-para {
    font-weight: 400;
    font-size: 0.9rem;
    font-family: lexend;
    color: #0000009c;
  }
  
  .Subscribe {
    background: #00396ee5;
    border-radius: 20px;
    padding: 40px 20px;
    margin: 40px 20px;
  }
  
  .subs-caption {
    font-weight: 200;
    color: #ffffff;
    font-size: 0.9rem;
  }
  
  .bg-faqs {
    padding: 30px;
    margin: 40px 20px;
    position: relative;
  }
  
  .bg-footer {
    background: #04121f;
    padding: 20px;
  }
  /* 
  .image {
    position: absolute;
    right: 0;
  } */
  
  .image-container {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .testimonial-name {
    font-family: "Poppins", serif !important;
    font-size: 0.7rem;
    color: #67646a;
  }
  
  .rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  
  .faq-options {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    z-index: 9999;
  }
  
  .stars {
    position: absolute;
    bottom: -5px;
    left: -15px;
  }
  
  .btn-offer {
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    font-size: 16px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    font-family: "Poppins", serif !important;
    border-radius: 20px;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .icon {
    margin-left: 10px;
    font-size: 18px;
    transition: transform 0.3s ease;
  }
  
  .info-content {
    display: none;
    padding: 15px;
  }
  
  .info-content.show {
    display: block;
  }
  
  .form-control-subs {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background: none;
    border: 1px solid #f1fbe84d;
    color: #f1fbe866;
  }
  
  .logo-txt {
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    margin-bottom: 0px;
    margin-left: 5px;
  }
  
  .other-options:hover {
    background: #bcd1ff80;
    width: 100%;
    color: #0037b2;
  }
  
  .form-control {
    padding: 16px 24px !important;
  }
  
  .footer-links {
    text-decoration: none;
    font-size: 0.8rem;
    color: #ebebed99;
    font-weight: 500;
  }
  
  .subs-heading {
    font-family: Times New Roman;
    font-style: italic;
    font-weight: 700;
    line-height: 41.4px;
    text-align: left;
    color: #ffffff;
    font-size: 2.3rem;
  }
  
  .faq-main {
    font-family: "Poppins", serif;
    font-weight: 600;
  }
  
  .line-seperated {
    color: #ebebed99;
    font-size: 10px;
    margin: 10px;
  }
  
  .d-fl-just-end {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .d-fl-just-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .banner {
    font-family: Montserrat;
    text-align: center;
    background-color: #f64545;
    color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }
  
  .banner h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .banner p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #333;
  }
  
  .custom-scrollbar {
    max-height: 80px;
    overflow-y: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 5px;
    font-family: "Poppins", serif !important;
  }
  
  /* Custom scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    /* Transparent track */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6ba9ff;
    /* Thumb color */
    border-radius: 10px;
    /* Rounded corners */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #0056ff;
    /* Darker color on hover */
  }
  
  .timeline-card {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .timeline-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .time-label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #007bff;
  }
  
  .title {
    margin-top: 10px;
    font-weight: bold;
    color: black;
  }
  
  .Curriculum-section {
    font-family: Montserrat;
    text-align: center;
  }
  
  .c-heading {
    font-weight: 400;
    font-size: 24px;
  }
  
  .c-subhead {
    font-weight: 600;
    font-size: 35px;
  }
  
  .c-para {
    font-weight: 400;
    font-size: 20px;
  }
  
  .underline {
    display: inline-block;
    /* Make the underline inline */
    width: 200px;
    /* Set the width of the underline */
    height: 3px;
    /* Set the thickness */
    background-color: #4d94ff;
    /* Set the blue color */
    margin-top: 5px;
  }
  
  .play-button-img {
    position: absolute;
    top: 48%;
    left: 20%;
    z-index: 99;
  }
  
  @media (max-width: 576px) {
    .c-para {
      font-weight: 400;
      font-size: 14px;
    }
  
    .takeaways-card {
      padding: 10px !important;
    }
  
    .takeaways-card h3 {
      font-size: 14px !important;
    }
  
    .takeaway-img {
      height: 50px !important;
      padding: 12px !important;
    }
  
    .About-content {
      padding: 10px 5px !important;
    }
  
    .t-al-cen {
      text-align: center !important;
    }
  
    .countdown {
      justify-content: center;
    }
  
    .c-subhead {
      font-weight: 700;
      font-size: 20px;
    }
  
    .attendees {
      font-size: 1.5rem;
    }
  
    .attendees-para {
      font-size: 0.9rem;
    }
  
    .mb-none {
      display: none !important;
    }
  
    .banner h2 {
      font-size: 18px;
    }
  
    .banner p {
      font-size: 13px;
    }
  
    .cta-button {
      font-size: 11px;
    }
  
    .p-sm-2 {
      padding: 15px;
    }
  
    .bg-faqs {
      padding: 20px 0px;
      margin: 40px 10px;
    }
  
    .time-label {
      font-size: 0.6rem;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1249px) {
    .banner p {
      font-size: 24px;
      padding: 0px 90px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .banner-para {
      font-size: 1.1rem;
      font-weight: 500;
    }
  
    .countdown span {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 992px) {
    .ml-mr-35 {
      margin-left: 35px !important ;
      margin-right: 35px !important;
    }
  
    .mt-3rem-hero {
      margin-top: 3rem;
    }
    .mt-2rem-hero {
      margin-top: 2rem;
    }
  
    .attendees-para {
      padding: 0px 14%;
    }
  
    .about-b-m {
      margin-bottom: 5px;
    }
  }
  
  @media (min-width: 860px) and (max-width: 992px) {
    .mt-2-rem-hero {
      margin-top: 3rem;
    }
    .mt-1-rem-hero {
      margin-top: 1rem;
    }
  }
  
  @media (max-width: 1100px) {
    .hero {
      padding: 70px 0px 0px 20px !important;
    }
  }
  
  @media (min-width: 1101px) and (max-width: 1249px) {
    .hero {
      padding: 70px 50px 0px 50px !important;
    }
  }
  
  @media (max-width: 768px) {
    .faq-heading {
      display: none;
    }
  
    .stars {
      height: 30%;
    }
  
    .btn-register {
      padding: 10px 20px;
    }
  
    .md-device {
      display: none !important;
    }
  
    .md-device.active {
      display: block !important;
      white-space: break-spaces;
    }
  
    .j-c-center {
      justify-content: center;
    }
  
    .d-gr-jus {
      display: grid !important;
      justify-content: start;
      justify-items: start;
    }
  
    .line-seperated {
      display: none;
    }
  
    .mb-m3 {
      margin-bottom: 1rem;
    }
  
    .mb-m5 {
      margin-bottom: 1.5rem;
    }
  
    .md-d-g {
      display: grid;
      justify-items: start;
    }
  
    .form-register {
      padding: 25px;
    }
  }
  
  @media (max-width: 992px) {
    .j-c-cen {
      justify-content: center !important;
    }
  
    .image {
      position: unset;
    }
  
    .p-mdd-3 {
      padding: 1rem !important;
    }
  
    .hero {
      display: flex !important;
      justify-content: center !important;
      flex-direction: column-reverse;
    }
  
    .About-content {
      padding: 14px;
    }
  
    .about-heading {
      font-size: 26px !important;
    }
  
    .about-para {
      font-size: 14px !important;
    }
  
    .about-btn {
      font-size: 12px !important;
      padding: 5px 4px !important;
    }
  }
  
  @media (max-width: 1012px) {
    .header {
      padding: 15px;
    }
  }
  
  .testimonial-image {
    position: relative;
    border-radius: 20px;
  }
  
  .banner-para {
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .ml-mr-15 {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .testimonial-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004d; /* Semi-transparent black */
    border-radius: 20px; /* Matches the image's border-radius */
    z-index: 1; /* Ensures the overlay is on top of the image */
  }
  
  .testimonial-image img {
    position: relative;
    height: 430px;
    z-index: 0; /* Places the image below the overlay */
  }
  
  .snack-bar {
    position: absolute;
    color: #d8d8d8;
    z-index: 99;
    bottom: 0;
    left: 3%;
    font-family: "Poppins", serif;
  }
  
  .snackbar-heading {
    margin-bottom: 0.3rem;
    font-size: 14px;
    font-weight: 500;
  }
  
  .snackbar-para {
    font-size: 10px;
  }
  
  .enquiry-btn {
    background: #ffd91d;
    border: 4px solid #c9a800;
    padding: 6px 25px;
    border-radius: 25px;
    font-weight: 700;
  }
  
  .About-content {
    background-color: #e9eaf4;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap on smaller screens */
    align-items: center;
  }
  
  .about-heading {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.76px;
    text-align: left;
  }
  
  .about-para {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: #000000;
  }
  
  .about-btn {
    margin: 3px;
    border: 1px solid #88b7ff;
    background-color: #d1e3ff;
    font-family: Montserrat;
    font-size: 18px;
    padding: 5px 12px;
    border-radius: 10px;
    font-weight: 500;
    line-height: 24.38px;
    flex: 1 1 calc(50% - 10px); /* Ensures two buttons per row */
    text-align: center;
    white-space: nowrap; /* Prevents button text from breaking */
  }
  
  @media (max-width: 576px) {
    .about-btn {
      font-size: 10px !important;
    }
  
    .form-container {
      max-width: 350px !important;
    }
  
    .form-check-input {
      font-size: 12px;
    }
  
    .input-checkbox {
      transform: translateY(-3px);
    }
  }
  
  @media (max-width: 768px) {
    .about-btn {
      flex: 1 1 100%; /* Buttons take full width on small screens */
    }
  
    .about-heading {
      font-size: 24px !important;
      color: #0e187f !important;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    .about-para {
      color: #0e187f;
    }
  
    .about-img-m {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 1160px) {
    .about-heading {
      font-size: 32px;
    }
  
    .about-para {
      font-size: 18px;
    }
  
    .about-btn {
      font-size: 14px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 840px) {
    .About-content {
      padding: 20px;
    }
  }
  
  .takeaways-section {
    padding-top: 25px;
    text-align: center;
    font-family: Montserrat, sans-serif;
  }
  
  .takeaways-segment {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  
  .takeaways-card {
    padding: 20px;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 0.6px 0px #00000040;
    border-radius: 20px;
    background-color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .takeaway-img {
    width: fit-content;
    height: 65px;
    border-radius: 10px;
    border: 1px solid #e6edf8;
    padding: 15px;
    background-color: #e6edf8;
    margin-bottom: 15px;
  }
  
  .takeaways-card h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .takeaways-card p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
  }
  
  .takeaways-segment {
    grid-template-columns: repeat(5, 1fr);
  }
  
  /* Responsive Design */
  @media (min-width: 769px) and (max-width: 1024px) {
    .takeaways-segment {
      grid-template-columns: repeat(3, 1fr);
    }
    .takeaways-card:nth-child(4),
    .takeaways-card:nth-child(5) {
      margin: 0 auto;
      transform: translateX(55%);
    }
  }
  
  @media (max-width: 768px) {
    .takeaways-segment {
      grid-template-columns: repeat(2, 1fr);
    }
    .takeaways-card:nth-child(3) {
      margin: 0 auto;
    }
  
    .p-md-0 {
      padding: 0px;
    }
  
    .takeaways-card:nth-child(5) {
      transform: translateX(54%);
      justify-self: center; /* Center the 5th card */
    }
  }
  
  .hero-img {
    width: 142%;
  }
  
  @media (min-width: 1201px) and (max-width: 1330px) {
    .hero-img {
      width: 150%;
    }
  }
  
  @media (max-width: 1200px) {
    .hero-img {
      width: 160%;
    }
  }
  
  @media (max-width: 768px) {
    .hero-img {
      max-width: 100% !important;
      height: auto !important;
      display: block !important;
    }
  }
  
  @media (max-width: 992px) {
    .hero-img {
      width: 170%;
    }
  
    .popup video {
      width: 70vw !important;
    }
  }
  
  @media (min-width: 993px) and (max-width: 1101px) {
    .hero-img {
      width: 180%;
    }
  }
  
  @media (min-width: 1101px) {
    .hero-img-X {
      transform: translateX(-30%) !important;
    }
  }
  
  .form-container {
    font-family: "Poppins", serif;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 510px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  .form-container h3 {
    font-weight: bold;
    color: #00396e;
  }
  .form-container .form-control {
    border-radius: 10px;
  }
  .form-container .btn-primary {
    width: 53%;
    border-radius: 20px;
    background-color: #00396e;
    border: none;
    padding: 10px;
  }
  .form-container .btn-primary:hover {
    background-color: #001d48;
  }
  .phone-input {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 5px;
  }
  .phone-input select {
    border: none;
    background: none;
    outline: none;
  }
  
  
  .close-btn {
    background-color: #fff;
    color: #00396e;
    font-size: 27px;
  }
  
  .form-check-input {
    color: #00000080;
    border: none;
    font-weight: 400;
  }
  
  .popup {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 1000;
  }
  
  .popup video {
    width: 55vw;
    border-radius: 10px;
  }
  
  .close {
    color: white;
    font-size: 16px;
    position: relative;
    font-family: Montserrat;
    font-weight: 400;
    top: -12%;
    right: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .overlay {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
  }
  
  @media (max-width: 576px) {
    .popup video {
      width: 90vw !important;
    }
  }
  
  @media (min-width: 1300px) {
    .about-img {
      width: auto !important;
    }
  }
  
  /* Personal CSS */
  .transform {
    transform: translateX(var(--translate-x, 0));
  }
  
  #seconds {
    height: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {color: #ffffff; left:0px; bottom:10px;}
    25%   {color: #ffffff; left:0px; bottom:20px;}
    50%   {color: #ffffff; left:0px; bottom:30px;}
    75%   {color: #ffffff; left:0px; bottom:40px;}
    100%  {color: gray; left:0px; bottom:50px;}
  }
  
  .phone-input input {
    border: none; /* Remove the border */
    outline: none; /* Remove the outline on focus */
  }
  
  .phone-input select {
    border: none; /* Remove the border of the country code dropdown */
    outline: none; /* Remove outline on focus */
  }
  